<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rvnd.wfman"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity android:name=".AC_Confirm"
                  android:label="Confirmation"
                  android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".AC_PairDisplay"
            android:label="Event Log"
            android:parentActivityName=".AC_Viewer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rvnd.wfman.AC_Viewer"/>
        </activity>
        <activity
            android:name=".AC_ServerEditor"
            android:label="Edit Server"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".AC_Servers"
            android:label="Your Servers"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AC_Viewer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AC_Monitor"
            android:label="Workflows"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".Strt"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
service
            android:name=".QVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service
        -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>